.modal-container{
    height:100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    z-index:999;
    display:flex;
    align-items: center;
    justify-content: center;
}
.modal-verify{
    margin:0 auto;
}
  